/* lsr - my custom css  */
h1 {
    font-family: 'EB Garamond', serif;
}


.lsr-color {
    color: darkgoldenrod;
}

.lsr-bg-color {
    background-color: darkgoldenrod;
}

.lsr-btn-hover-none:hover {
    background-color: rgb(152, 111, 9);
}

.lsr-h-500 {
    height: 500px;
}