/* lsr - my custom css  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
}

.lsr-color {
    color: darkgoldenrod;
}

.lsr-bg-color {
    background-color: darkgoldenrod;
}

.lsr-btn-hover-none:hover {
    background-color: rgb(152, 111, 9);
}

.lsr-h-500 {
    height: 500px;
}

.lsr-gradient-1 {
    background-image: linear-gradient(180deg, rgba(238, 238, 238, 0.651), rgba(206, 186, 131, 0));
}

@media screen and (max-width: 767.98px) {
    .lsr-h-500 {
        height: unset;
    }

    .lsr-banner-info-width {
        width: 100% !important;
    }
}